<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
</head>
<body>
    <div class='login-container'>
        <form method='POST'>
            <h1>Hospital Manager Login</h1><br>
            <input type='text' name='username' placeholder='Username' required><br><br>
            <input type='password' name='password' placeholder='Password' required><br><br><br>
            <button type='submit'>Login</button>
        </form>
    </div>
</body>
</html>